{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header class="row bg-black">
    <div class="col-md-4">
        <img src="{% static 'portfolio/profile.jpg' %}" alt="My logo" class="img-fluid">
    </div>

    <div class="col-md-8 my-auto">
        <h1 class="display-4">Hi, I am <strong>Joseph</strong></h1>
        <h3 class="lead">Computer Science Student</h3>
        <p class="lead">I am a computer science student at the University of La Laguna. I am passionate about
            programming and web development. I am currently learning Django and React.</p>
</header>


<div class="row my-4 text-center">

    <h1>My Projects</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, accusamus.</p>

    {% for project in projects%}

    <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
            <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top">
            <div class="card-body">
                <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>
                
            
                {% if project.url %}
                <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="_blank">{{project.url}}</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}
    {% endblock %}

</div>